@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

html {
    font-size: 16px;
}

body {
    background-color: grey;
}

body, .ui.menu, .ui.text.container {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}

h1, h2, h3, .ui.header, p {
    font-family: 'Merriweather', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 2em 0;
}

body .ui.menu {
    background-color: rgb(0,153,230);
    background-position: center;
    color: black;
    margin: 0;
    padding: 0;
}

body .ui.menu .item {
    color: black;
}

.accueil section.primary {
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 13em 0;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

